body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

#gridContainer {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    height: 100vh;
    width: 100%;

}

/* #gridContainer div{
    border: 1px solid red;
} */
#leftNavbar {
    background-color: #1d4ed8;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    text-align: center;
}

#leftNavbarInnerGrid {
    display: grid;
    color: white;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding-left: 20px;
    font-weight: bold;
}

#icon {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#icon:hover {
    box-shadow: 5px 5px 11px black;
}

#wording {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#logoWording {
    font-size: 2rem;
}

#dashboardIcon {
    padding-left: 5px;
}

#topNavBarTop {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
}

#topNavBarBottom {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
}

#buttonsContainer {
    align-content: center;
    text-align: center;
}

.TopNavButtons {
    border-radius: 15px;
    border: 0px;
    background-color: #1d4ed8;
    color: white;
    padding: 5px 15px;
    margin: auto;
    font-weight: bold;
}

#searchBarContainer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
}

#searchIcon {
    align-content: center;
    text-align: center;
}

#searchBar {
    align-content: center;
    text-align: left;
}

#userAlerts {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
}

#topRightContainer {
    align-content: center;
    text-align: right;
}

#searchText {
    border-radius: 15px;
    border: 0;
    background-color: lightgray;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#userWelcome {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
}

#largeUserAvatarContainer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    align-content: center;
}

#largeUserAvatar {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    vertical-align: middle;
}

#userNameText {
    padding-left: 10px;
}

#hiThereText {
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: .85rem;
}

#userNameText {
    align-content: center;
}

#userNameAndHandle {
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight: bold;
}

#topRightContainer2 {
    align-content: center;
    text-align: center;
}

#mainUserAvatar {
    margin-right: 10px;
}

#newButton {
    margin-left: 10px;
    margin-right: 10px;
}

#uploadButton,
#shareButton {
    margin-left: 10px;
    margin-right: 10px;
}

#homeIcon,
#profileIcon,
#messagesIcon,
#historyIcon,
#tasksIcon,
#communitiesIcon,
#settingsIcon,
#supportIcon,
#privacyIcon {
    padding-left: 10px;
}

#communitiesIcon {
    margin-top: 32px;
}

#communitiesWording {
    margin-top: 48px;
}

#topNavBar {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid
}

#topNavBarInnerGrid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

#topNavBarTop {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#topNavBarBottom {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

#mainSection {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    display: grid;
    gap: 15px;
    padding: 15px;
    background-color: lightgrey;
    box-sizing: border-box;
}

#leftBoxes {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    box-sizing: border-box;
}

#middleBoxes {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    box-sizing: border-box;
}

#rightBoxes {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    box-sizing: border-box;
}

.mainSectionBoxes {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border-left: solid 7px goldenrod;
}

#leftBoxOne,
#leftBoxTwo,
#leftBoxThree,
#middleBoxOne,
#middleBoxTwo,
#middleBoxThree {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    box-shadow: 1px 1px 5px grey;
}

#leftBoxOneText,
#leftBoxTwoText,
#leftBoxThreeText,
#middleBoxOneText,
#middleBoxTwoText,
#middleBoxThreeText {
    font-size: .85rem;
}

#leftBoxOneTitle,
#leftBoxTwoTitle,
#leftBoxThreeTitle,
#middleBoxOneTitle,
#middleBoxTwoTitle,
#middleBoxThreeTitle {
    font-weight: bold;
    margin-bottom: 3px;
}

#leftBoxOneIcons,
#leftBoxTwoIcons,
#leftBoxThreeIcons,
#middleBoxOneIcons,
#middleBoxTwoIcons,
#middleBoxThreeIcons {
    text-align: right;
}

#leftBoxOneDesc,
#leftBoxTwoDesc,
#leftBoxThreeDesc,
#middleBoxOneDesc,
#middleBoxTwoDesc,
#middleBoxThreeDesc {
    margin-top: 3px;
}

.starIcon,
.eyeIcon,
.forkIcon {
    margin-left: 5px;
    margin-right: 5px;
}

#rightBoxOne {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    font-size: .85rem;
}

.rightBoxesTopTitle {
    font-weight: bold;
    margin-bottom: 3px;

}

.rightBoxesTopText {
    margin-top: 3px;
    padding-bottom: 10px;
    margin-bottom: 6px;
    border-bottom: 1px solid gray;
}

#rightBoxTwo {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    box-shadow: 1px 1px 5px grey;
}

.trendingAvatars {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
}

#trendingOneAvatarContainer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
}

#trendingTwoAvatarContainer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
}

#trendingThreeAvatarContainer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
}

#trendingFourAvatarContainer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center;
}

#trendingOneTextContainer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: left;
}

#trendingTwoTextContainer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: left;
}

#trendingThreeTextContainer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: left;
}

#trendingFourTextContainer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: left;
}

.user {
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: .85rem;
    font-weight: bold;
}

.userLine {
    margin-top: 3px;
    margin-bottom: 10px;
    font-size: .85rem;
}